flask
gunicorn
google-generativeai>=0.8.5
PyMuPDF
Pillow
youtube-transcript-api>=0.6.0
requests
python-docx
flask_cors
flask_pymongo
flask_bcrypt
flask_jwt_extended
python-dotenv
dnspython
pymongo[srv]
pymongo
google_auth_oauthlib
flask_login
flask_mail
gTTS
